body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto; }

:root {
  --overlayColor: rgba(47,53,87,0.85); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0a123a;
  height: 5.6rem;
  width: 100%;
  padding: 0 2.33rem 0  2rem; }

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header_logo span {
    margin-left: 1rem;
    font-size: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#07ffee), to(#0a6da3));
    background: -webkit-linear-gradient(left, #07ffee, #0a6da3);
    background: -o-linear-gradient(left, #07ffee, #0a6da3);
    background: linear-gradient(90deg, #07ffee, #0a6da3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }

.header_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2.3rem; }

.nav_item {
  margin-right: 0.55rem;
  text-transform: uppercase;
  font-size: 0.866rem;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  .nav_item:hover {
    color: #9994dd; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../img/intro/bg.jpg");
  background-size: cover;
  margin-bottom: 4.6rem; }

.intro_overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlayColor, #00f); }

.intro_inner {
  height: 100%;
  padding-top: 5.6rem; }

.intro_slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .intro_slider_inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .intro_slider_item {
    margin: 0 6rem;
    text-align: center; }
  .intro_slider_title {
    font-size: 2.1333rem;
    font-weight: 700; }
    .intro_slider_title:after {
      content: "";
      display: block;
      width: 3.3rem;
      height: 0.1rem;
      background-color: #00e0d0;
      margin: 1.8rem auto; }
  .intro_slider_text {
    line-height: 1.6rem; }
  .intro_slider_button {
    display: inline-block;
    color: #00e0d0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1rem;
    border: 0.1rem #00e0d0 solid;
    border-radius: 5%;
    padding: 0.8rem 1.133rem;
    margin-top: 3.33rem;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear; }
    .intro_slider_button span {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }
    .intro_slider_button:hover {
      cursor: pointer; }
    .intro_slider_button:active {
      background-color: #7afff6; }
      .intro_slider_button:active span {
        background-color: #484b68;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; }
  .intro_slider_dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5rem; }
  .intro_slider_dot {
    width: 0.66rem;
    height: 0.66rem;
    border: 0.066rem solid #a8a7ab;
    border-radius: 50%;
    margin-right: 0.5rem; }
    .intro_slider_dot:last-child {
      margin-right: 0; }
    .intro_slider_dot:hover {
      background-color: #00e0d0; }
    .intro_slider_dot:active {
      border-color: #000; }

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #413d4b;
  margin-bottom: 4.6rem; }

.story_img {
  margin-right: 3rem;
  height: 15.266rem; }

.story_title {
  font-size: 1.466rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.866rem; }

.story_text {
  color: #a8a7ab;
  line-height: 1.4; }

.story_btn {
  display: inline-block;
  color: #00e0d0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1rem;
  border: 0.1rem #00e0d0 solid;
  border-radius: 5%;
  padding: 0.8rem 1.133rem;
  margin-top: 3.33rem;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear; }
  .story_btn span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }
  .story_btn:hover {
    cursor: pointer; }
  .story_btn:active {
    background-color: #7afff6; }
    .story_btn:active span {
      background-color: #484b68;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text; }
  .story_btn:hover {
    background-color: gray; }
  .story_btn:active {
    background-color: #4d4d4d; }
    .story_btn:active span {
      background-color: #fff; }

.watch {
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0; }
  .watch iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #413d4b;
  padding: 0 0.5rem;
  margin-bottom: 4.66rem; }

.expertise_header {
  text-align: center;
  width: 40%;
  margin-bottom: 2rem; }
  .expertise_header_title {
    font-size: 1.46rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem; }
  .expertise_header_subtitle:after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.1rem;
    background-color: #00e0d0;
    margin: 1.66rem auto; }

.expertise_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .expertise_content_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 32%;
    border-right: 0.1rem #a8a7ab solid;
    padding-right: 2%; }
    .expertise_content_item:nth-child(3n) {
      margin-right: 0; }
    .expertise_content_item:nth-child(3n) {
      border-right: none;
      padding-right: 0; }
    .expertise_content_item:nth-child(-n+3):after {
      content: "";
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: #a8a7ab;
      position: absolute;
      left: 50%;
      bottom: -0.66rem;
      z-index: 1;
      -webkit-transform: translateX(-53%);
      -ms-transform: translateX(-53%);
      transform: translateX(-53%); }

.expertise_item_title {
  margin: 1.5rem 0 1rem;
  font-weight: bold; }

.expertise_item_text {
  text-align: center;
  color: #a8a7ab; }

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/team/bg.jpg");
  background-size: cover;
  margin-bottom: 4.66rem; }
  .team_overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlayColor, #00f); }

.team_header {
  margin: 4.6rem 0 4.6rem;
  text-align: center; }
  .team_header_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem; }

.team_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0.5rem; }
  .team_content_item {
    border: 0.1rem solid #a8a7ab;
    margin-right: 3%;
    width: 22.75%; }
    .team_content_item:nth-child(4) {
      margin-right: 0; }
  .team_content_img {
    width: 100%; }
  .team_content_data {
    width: 100%;
    padding: 1.23rem 2rem;
    text-align: center; }
  .team_content_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.333rem; }
  .team_content_subtitle {
    text-transform: uppercase;
    font-size: 0.7rem; }

.team_footer {
  width: 60%;
  margin: 4.6rem auto 5rem;
  text-align: center; }
  .team_footer_btn {
    display: inline-block;
    color: #00e0d0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1rem;
    border: 0.1rem #00e0d0 solid;
    border-radius: 5%;
    padding: 0.8rem 1.133rem;
    margin-top: 3.33rem;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear; }
    .team_footer_btn span {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }
    .team_footer_btn:hover {
      cursor: pointer; }
    .team_footer_btn:active {
      background-color: #7afff6; }
      .team_footer_btn:active span {
        background-color: #484b68;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; }

.works {
  color: #413d4b;
  margin-bottom: 4.66rem; }
  .works_supcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3rem 2rem; }
  .works_title {
    text-transform: uppercase;
    font-size: 1.46rem;
    font-weight: 700; }
  .works_ref {
    color: #413d4b;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-right: 1.5rem; }
    .works_ref:before, .works_ref:after {
      content: "";
      display: block;
      position: absolute;
      right: 0rem;
      z-index: 1;
      width: 1rem;
      height: 0.1rem;
      background-color: #413d4b; }
    .works_ref:before {
      top: 0.4rem;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .works_ref:after {
      bottom: 0.5rem;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .works_ref:hover {
      text-decoration: underline; }
  .works_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .works_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0.2%;
    margin-bottom: 0.2%;
    width: 24.85%; }
    .works_item:nth-child(4n) {
      margin-right: 0; }
    .works_item_img {
      width: 100%;
      margin: 0;
      padding: 0; }
    .works_item_data {
      display: none; }
  .works_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .works_subcontent {
    text-align: center; }
  .works_btn {
    display: inline-block;
    color: #00e0d0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1rem;
    border: 0.1rem #00e0d0 solid;
    border-radius: 5%;
    padding: 0.8rem 1.133rem;
    margin-top: 3.33rem;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear; }
    .works_btn span {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      transition: color 0.1s linear; }
    .works_btn:hover {
      cursor: pointer; }
    .works_btn:active {
      background-color: #7afff6; }
      .works_btn:active span {
        background-color: #484b68;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; }
    .works_btn:hover {
      background-color: gray; }
    .works_btn:active {
      background-color: #4d4d4d; }
      .works_btn:active span {
        background-color: #fff; }

.reviews {
  background-image: url(../img/reviews/bg.jpg);
  background-size: cover;
  margin-bottom: 4.666rem; }
  .reviews_overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlayColor, #00f); }
  .reviews_intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .reviews_quotes {
    margin-top: 4.33rem; }
  .reviews_slider {
    max-width: 40rem;
    width: 100%;
    text-align: center;
    margin: 2.3rem 0 4.3rem; }
    .reviews_slider_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: 17.66rem;
      padding: 2rem; }
      .reviews_slider_item_name {
        text-transform: uppercase;
        font-weight: bold;
        margin: 2.33rem 0 0.5rem; }
      .reviews_slider_item_position {
        text-transform: uppercase;
        font-size: 0.7rem; }
    .reviews_slider_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .reviews_slider_nav_arrow_left {
        position: relative;
        left: -2rem;
        width: 1.33rem;
        height: 1.33rem;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
        .reviews_slider_nav_arrow_left:before, .reviews_slider_nav_arrow_left:after {
          content: "";
          display: block;
          position: absolute;
          right: 0rem;
          z-index: 1;
          width: 1rem;
          height: 0.1rem;
          background-color: #a8a7ab; }
        .reviews_slider_nav_arrow_left:before {
          top: 0.3rem;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .reviews_slider_nav_arrow_left:after {
          bottom: 0.3rem;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .reviews_slider_nav_arrow_left:hover {
          text-decoration: underline; }
        .reviews_slider_nav_arrow_left:hover:before, .reviews_slider_nav_arrow_left:hover:after {
          background-color: #f5f5f6; }
      .reviews_slider_nav_arrow_right {
        position: relative;
        right: -2rem;
        width: 1.33rem;
        height: 1.333rem; }
        .reviews_slider_nav_arrow_right:before, .reviews_slider_nav_arrow_right:after {
          content: "";
          display: block;
          position: absolute;
          right: 0rem;
          z-index: 1;
          width: 1rem;
          height: 0.1rem;
          background-color: #a8a7ab; }
        .reviews_slider_nav_arrow_right:before {
          top: 0.3rem;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .reviews_slider_nav_arrow_right:after {
          bottom: 0.3rem;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .reviews_slider_nav_arrow_right:hover {
          text-decoration: underline; }
        .reviews_slider_nav_arrow_right:hover:before, .reviews_slider_nav_arrow_right:hover:after {
          background-color: #f5f5f6; }
      .reviews_slider_nav_items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .reviews_slider_nav_item {
        width: 3.66rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        -webkit-transition: width 0.1s linear;
        -o-transition: width 0.1s linear;
        transition: width 0.1s linear; }
        .reviews_slider_nav_item:hover {
          width: 5.33rem; }
        .reviews_slider_nav_item-active {
          width: 5.33rem; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #413d4b;
  padding: 1rem;
  margin-bottom: 4.6rem; }
  .contacts_title {
    text-transform: uppercase;
    font-size: 1.333rem;
    margin-bottom: 2rem; }
  .contacts .form {
    width: 40%; }
    .contacts .form_item {
      width: 100%;
      padding: 1.133rem 1.533rem;
      margin-bottom: 1.666rem;
      font-size: 1.06rem; }
    .contacts .form_textArea {
      resize: none;
      height: 13.33rem;
      width: 100%;
      padding: 1.1333rem 1.533rem;
      font-size: 1.06rem; }
  .contacts_clients {
    width: 50%; }
    .contacts_clients .contacts_title {
      margin-bottom: 0; }
    .contacts_clients_items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 100%; }
    .contacts_clients_col {
      width: 40%; }
    .contacts_clients_item {
      line-height: 5rem;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem; }
    .contacts_clients_icon {
      vertical-align: middle; }

.footer {
  background-image: url(../img/footer/bg.jpg);
  background-size: cover; }
  .footer_outline {
    width: 100%;
    height: 100%;
    background-color: var(--overlayColor, #00f); }
  .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4rem 1rem; }
  .footer_other {
    width: 30%; }
    .footer_other_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1rem; }
      .footer_other_header span {
        font-size: 2rem;
        margin-left: 0.5rem;
        background: -webkit-gradient(linear, left top, right top, from(#0ff), to(#00f));
        background: -webkit-linear-gradient(left, #0ff, #00f);
        background: -o-linear-gradient(left, #0ff, #00f);
        background: linear-gradient(90deg, #0ff, #00f);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; }
    .footer_other_text {
      margin-bottom: 2rem; }
    .footer_other_refs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer_other_refs_item {
        text-decoration: none;
        color: inherit;
        margin-right: 0.75rem; }
        .footer_other_refs_item:hover {
          border-bottom: 0.1rem solid #fff; }
        .footer_other_refs_item:active {
          color: #ccc;
          border-color: #ccc; }
  .footer_title {
    text-transform: uppercase;
    height: 3.333rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer_contacts {
    width: 30%; }
    .footer_contacts_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 1rem; }
      .footer_contacts_item i {
        margin-right: 1rem;
        width: 1rem; }
  .footer_community {
    position: relative;
    width: 30%; }
    .footer_community_subscribe {
      height: 2rem;
      margin-bottom: 2rem; }
      .footer_community_subscribe form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .footer_community_subscribe_email {
        background-color: transparent;
        color: inherit;
        padding: 0.66rem;
        margin-right: 0.5rem; }
      .footer_community_subscribe_btn {
        border: none;
        outline: none;
        width: 3rem;
        height: 3rem;
        background-color: rgba(255, 255, 255, 0.4);
        background-image: url(../img/footer/plane.png);
        background-size: 2.32rem 2.32rem;
        background-position: 50% 55%;
        background-repeat: no-repeat; }
        .footer_community_subscribe_btn:hover {
          background-color: #a8a7ab; }
        .footer_community_subscribe_btn:active {
          border: 0.0666rem solid #000; }
    .footer_community_social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer_community_social_item {
        width: 1.75rem;
        height: 1.75rem;
        color: inherit;
        text-decoration: none;
        border: 0.1rem solid #00e0d0;
        margin-right: 0.5rem;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer_community_social_item i {
          font-size: 0.8rem;
          height: 0.8rem;
          color: #00e0d0; }
        .footer_community_social_item:hover {
          background-color: #00e0d0; }
        .footer_community_social_item:hover i {
          color: var(--overlayColor); }
        .footer_community_social_item:active {
          background-color: #47fff2;
          border-color: #47fff2; }
    .footer_community_credit {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1; }
