.expertise{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $blackOfText;
    padding: 0 0.5rem;
    margin-bottom: 4.66rem;
}

.expertise_header{
    text-align: center;
    width: 40%;
    margin-bottom: 2rem;

    &_title{
        font-size: 1.46rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &_subtitle:after{
        content: "";
        display: block;
        width: 4rem;
        height: 0.1rem;
        background-color: $bright-blue;
        margin: 1.66rem auto;
    }
}

.expertise_content{
    display: flex;
    flex-wrap: wrap;

    $marg: 5%;
    $cols: 3;

    &_item{
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        $offset: 2%;
        @include makeGrid(3, $offset){
            border-right: 0.1rem $greyOfText solid;
            padding-right: $offset;
            &:nth-child(#{$cols}n){
                border-right: none;
                padding-right: 0;
            };

            //by default 'n' equel -1   =>   -(-1)=1
            &:nth-child(-n+3){

                &:after{
                    content: "";
                    display: block;

                    width: 100%;
                    height: 0.1rem;
                    background-color: $greyOfText;

                    position: absolute;
                    left: 50%;
                    bottom: -0.66rem;
                    z-index: 1;
                    transform: translateX(-53%);
                }
            }
        };
    }
}

$eI: expertise_item;

// .#{$eI}_icon{
    
// }

.#{$eI}_title{
    margin: 1.5rem 0 1rem;
    font-weight: bold;
}

.#{$eI}_text{
    text-align: center;
    color: $greyOfText;
}
