.intro{
    display: flex;

    height: 100%;
    
    margin-bottom: 4.6rem;

    background-image: url("../img/intro/bg.jpg");
    background-size: cover;


    &_overlay{
        @include makeOverlay();

    }

    &_inner{
        margin-top: 5.6rem;
    }

    &_slider{
        padding-top: 10%;
        transform-style: inherit;

        

        &_inner{
            width: 20rem;
            height: 29rem;
            margin: 0 auto;
            overflow: hidden;

            margin-top: -100px;
        }

        &_scrollLine{
            float: left;
            margin-left: 0rem;
            transition: margin-left 200ms linear;

            display: flex;

            height: 100%;
        }
        
        &_item{
            width: 20rem;
            height: 100%;
            padding: 1.5rem 1rem;
            text-align: center;
        }
        
        &_title{
            font-size: 2.1333rem;
            font-weight: 700;
        
            &:after{
                content: "";
                display: block;

                width: 3.3rem;
                height: 0.1rem;
                background-color: $bright-blue;
                margin: 1.8rem auto;
            }
        }

        &_text{
            line-height: 1.6rem;
        }

        &_button{
            @include btn();
        }
        
        &_dots{
            display: flex;
            justify-content: center;
            padding-bottom: 3rem;
        }
        
        &_dot{
            width: 0.66rem;
            height: 0.66rem;
            border: 0.066rem solid $greyOfText;
            border-radius: 50%;

            margin-right: 0.5rem;
            &:last-child{
                margin-right: 0;
            }

            &:hover{
                background-color: $bright-blue;
            }

            &:active{
                border-color: #000;
            }
        }
    }
}

@media screen and (max-width: 575px){
    .intro_slider{
        margin: 0 auto;
    }
}

