body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}



// import
@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "intro.scss";
@import "story.scss";
@import "watch.scss";
@import "expertise.scss";
@import "team.scss";
@import "works.scss";
@import "reviews.scss";
@import "contacts.scss";
