.team{
    display: flex;
    background-image: url("../img/team/bg.jpg");
    background-size: cover;
    margin-bottom: 4.66rem;

    &_overlay{
        @include makeOverlay();
    }
}

.team_header{
    margin: 4.6rem 0 4.6rem;
    text-align: center;

    &_title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.team_content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5rem;
    
    &_item{
        border: 0.1rem solid $greyOfText;

        $cols: 4;
        $marg: 3%;

        @include makeGrid($cols, $marg);
        display: block;
    }

    &_img{
        width: 100%;
    }

    &_data{
        width: 100%;
        padding: 1.23rem 2rem;
        text-align: center;
    }

    &_title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom:0.333rem;
    }

    &_subtitle{
        text-transform: uppercase;
        font-size: 0.7rem;
    }
}

.team_footer{
    width: 60%;
    margin: 4.6rem auto 5rem;
    text-align: center;

    &_btn{
        @include btn();
    }
}



//////////////// @media
@media screen and (max-width: 768px){
    .team{
        &_content{
            padding: 0 2rem;

            &_item{
                @include makeGrid(2, 7%);
                display: block;
                margin-bottom: 2rem;
            }
        }

        &_footer{
            margin: 1rem auto 3rem;

            &_btn{
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 425px){
    .team_header_title{
        font-size: 1.5rem;
    }

    .team_content{
        justify-content: center;
    }

    .team_content_item{
        @include makeGrid(1, 5%);
        flex-direction: column;
        width: 70%;
    }

    .team_content_title{
        font-size: 0.9rem;
    }
}

